/*
 * App development service page *  
 */

/* ====================== */
/* app dev Why Choose TOJO Global   */
/* ================================== */
.appDevService_whyChoose_main_div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 75%;
  margin: 0 auto;
  row-gap: 1rem;
}

.appDevService_whyChoose_div {
  position: relative;
}

#AppDevServiceWhyChooseSvg {
  width: 467px;
  height: 155px;
}

.appDevService_whyChoose_div:nth-last-child(1) {
  transform: translateX(264px);
}

.appDevService_whyChoose_text_div {
  position: absolute;
  top: 8px;
  left: 0px;
  padding: 1rem 4rem;
}

.appDevService_whyChoose_text_div::before {
  content: "";
  position: absolute;
  top: 46%;
  left: 8%;
  transform: translate(-50%, -50%);
  width: 0.375rem;
  height: 79%;
  background-size: contain;
  border-radius: 0.625rem;
  background: var(
    --Linear,
    linear-gradient(142deg, #18c8ff 28.49%, #c608ff 81.44%)
  );
}

.appDevService_whyChoose_text_div h2 {
  color: #fff;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.75rem;
}

.appDevService_whyChoose_text_div p {
  color: #969ebf;
  font-family: var(--font-main);
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.125rem;
}

/* ====================== */
/*appDevService_Our_Services_main_div  */
/* ================================== */
.appDevService_Our_Services_section {
  position: relative;
}

.appDevService_Our_Services_belowGrandinet_div {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 38.25rem;
  background: linear-gradient(
    142deg,
    rgba(24, 200, 255, 0.5) 28.49%,
    rgba(198, 8, 255, 0.5) 81.44%
  );
  filter: blur(100px);
  width: 38.25rem;
  height: 38.25rem;
  flex-shrink: 0;
}

.appDevService_Our_Services_main_div {
  background: linear-gradient(
    336deg,
    rgba(24, 200, 255, 0.25) 13.76%,
    rgba(6, 0, 68, 0.25) 58.53%
  );
  width: 100%;
  height: 26.0625rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.appDevService_ourServices_card_div {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
  width: 100%;
  margin: 0 auto;
}

.appDevService_ourServices_card {
  border-radius: 1.875rem;
  border-bottom: 6px solid var(--Linear, #18c8ff);
  background: rgba(24, 200, 255, 0.3);
  box-shadow: 0px 4px 4px 0px rgba(6, 0, 68, 0.25);
  /* backdrop-filter: blur(22px); */
  height: 19.3125rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.appDevService_ourServices_card_icon_text {
  width: 85%;
  margin: 0 auto;
  text-align: center;
}

.appDevService_ourServices_card h2 {
  padding-top: 1rem;
  color: #fff;
  text-align: center;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: 125%;
}

.appDevService_ourServices_card p {
  color: #fff;
  text-align: center;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

/* ====================== */
/* media query  */
/* ================================== */
.appDev_industries_services_main_div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 2rem;
}

.appDev_industries_services_div {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  justify-content: space-around;
  column-gap: 4rem;
  width: 95%;
  margin: 0 auto;
}

.appDev_industries_services_text_div {
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-items: center;
}

.appDev_industries_services_heading {
  color: #fff;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.5rem;
}

.appDev_industries_services_subHeading {
  color: #fff;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 125%;
}

.appDev_industries_services_paraText {
  color: #fff;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
}

.appDev_industries_services_imgDiv {
  position: relative;
  z-index: 10;
  border-radius: 4rem;
  border: 21px solid var(--Color-5, #060044);
  background: rgba(88, 185, 255, 0.3);
  width: 100%;
  height: 100%;
  padding: 0.7rem;
}

.appDev_industries_services_imgDiv::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 27.625rem;
  height: 27.625rem;
  border-radius: 27.625rem;
  background: var(
    --Linear,
    linear-gradient(142deg, #18c8ff 28.49%, #c608ff 81.44%)
  );
  filter: blur(125px);
  z-index: -1;
}

.appDev_industries_services_imgDiv img {
  width: 100%;
  height: 100%;
}

/* ====================== */
/*appDev_Partnering_services_main_div */
/* ================================== */
.appDev_Partnering_services_main_div {
  display: grid;
  grid-template-columns: repeat(4, 2fr);
  width: 95%;
  margin: 0 auto;
}

.appDev_Partnering_services_div {
  position: relative;
}

.appDev_Partnering_services_text_div {
  position: absolute;
  top: 67%;
  left: 42%;
  transform: translate(-50%, -50%);
  width: 61%;
}

.appDev_Partnering_services_text_div h4 {
  color: #fff;
  text-align: center;

  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.75rem;
  /* 116.667% */
}

.appDev_Partnering_services_text_div p {
  color: #fff;
  text-align: center;

  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.125rem;
  /* 112.5% */
}

/* ====================== */
/* appDev_faq_services_main_div */
/* ================================== */
.appDev_faq_services_main_div {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  width: 95%;
  margin: 0 auto;
  gap: 5rem;
}

.appDev_faq_services_text_div:nth-last-child(1) {
  transform: translateX(50%);
}

.appDev_faq_services_text_div h2 {
  color: #fff;

  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.75rem;
  /* 116.667% */
}

.appDev_faq_services_text_div p {
  color: #fff;

  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem;
}

.appDev_faq_services_text_div:nth-child(even) h2,
.appDev_faq_services_text_div:nth-child(even) p {
  text-align: right;
}

/* ====================== */
/* media query  */
/* ================================== */
/* desktop */
@media (max-width: 1398px) {
  /* ...
       rules here apply to devices from 1202px to 1398px (inclusive)
        ... */
  .appDevService_ourServices_card_div {
    grid-template-columns: repeat(5, minmax(231px, 1fr));
  }

  .appDevService_whyChoose_main_div {
    width: 88%;
  }

  .appDev_Partnering_services_text_div {
    position: absolute;
    top: 67%;
    left: 49%;
    transform: translate(-50%, -50%);
    width: 71%;
  }

  .appDev_Partnering_services_main_div {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    column-gap: 1rem;
    margin: 0 auto;
  }
}

/* laptop Media Queries */
@media (max-width: 1200px) {
  /* ...
     rules here apply to devices from 993px to 1200px (inclusive)
        ... */

  /* appDev_industries_services_div */
  .appDev_industries_services_div {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    justify-content: space-between;
    column-gap: 0rem;
  }

  /* appDevService_ourServices_card_div */
  .appDevService_Our_Services_main_div {
    height: auto;
    padding-bottom: 2rem;
  }

  .appDevService_ourServices_card_div {
    grid-template-columns: repeat(3, 1fr);
  }

  .appDevService_ourServices_card {
    border-radius: 1.75rem;
    width: 100%;
  }

  /* appDev_Partnering_services_div  */
  .appDev_Partnering_services_main_div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .appDev_Partnering_services_main_div
    .appDev_Partnering_services_div:last-child {
    display: none;
  }

  .appDev_Partnering_services_text_div {
    position: absolute;
    top: 60%;
    left: 42%;
  }

  /* appDevService_whyChoose_main_div */
  .appDevService_whyChoose_main_div {
    width: 100%;
    gap: 1rem;
  }
}

/* tab device */
@media (max-width: 992px) {
  /* ...
        rules here apply to devices from 769px to 992px (inclusive)
        ... */
}

/* moblie device  */
@media (max-width: 768px) {
  /* ...
       rules here apply to devices from 0px to 768px (inclusive)
        ... */
}

/* vary small device  */
@media (max-width: 500px) {
  /* ...
      rules here apply to devices from 0px to 460px (inclusive)
        ... */
  .appDev_industries_services_subHeading {
    font-size: 1.3rem;
  }

  .appDev_industries_services_heading {
    font-size: 1.6rem;
    line-height: 1.8rem;
  }

  /* appDevService_whyChoose_main_div */
  .appDevService_whyChoose_main_div {
    width: 100%;
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }

  #AppDevServiceWhyChooseSvg {
    display: none;
  }

  .appDevService_whyChoose_text_div::before {
    content: none;
  }

  .appDevService_whyChoose_text_div {
    background: linear-gradient(
      278deg,
      rgba(198, 8, 255, 0.5) -4.99%,
      rgba(24, 200, 255, 0.41) 106.17%
    );
    position: static;
    padding: 1rem 0.8rem;
    border-radius: 0.9rem;
  }

  /* appDevService_ourServices_card_div */
  .appDevService_Our_Services_main_div {
    width: 99%;
    height: 100%;
    margin: 0 auto !important;
    padding-top: 1.3rem;
    padding-bottom: 3rem;
  }

  .appDevService_ourServices_card {
    border-bottom: 4px solid var(--Linear, #18c8ff);
    width: 100%;
    height: 16.3125rem;
  }

  .appDevService_Our_Services_belowGrandinet_div {
    display: none;
  }

  .appDevService_ourServices_card_div {
    grid-template-columns: 1fr;
    row-gap: 1rem;
    justify-items: center;
  }

  .appDevService_ourServices_card p {
    font-size: 0.8rem;
    line-height: 120%;
  }
  /* appDev_industries_services_text_div */
  .appDev_industries_services_text_div {
    gap: 0rem;
  }
  /* appDev_Partnering_services_main_div */
  .appDev_Partnering_services_main_div {
    grid-template-columns: 1fr;
    row-gap: 2rem;
    justify-items: center;
  }

  .appDev_Partnering_services_text_div {
    position: absolute;
    top: 63%;
    left: 49%;
    transform: translate(-50%, -50%);
    width: 80%;
  }
  .appDev_industries_services_subHeading {
    font-size: 18px;
    text-align: justify;
    line-height: 120%;
  }

  /* appDev_industries_services */
  .appDev_industries_services_paraText {
    font-size: 13px;
    text-align: justify;
    line-height: 120%;
  }

  /* appDev_Partnering_services */
  .appDev_Partnering_services_text_div p {
    font-size: 0.8rem;
    line-height: 120%;
  }
}
